body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #000;
    text-align: center;
}

h1 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    margin: 0;
}

header {
    background-color: #4CAF50;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width:100%;
    padding: 10px 20px;
    max-height: 120px;
    box-sizing: border-box;
}

header p {
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin: 5px 0 0 0;
}

.controls {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    background: #215422;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #45a049;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#results {
    padding: 15px;
}